html,
body {
    height: 100%;
    background: #f7f7f7;
}

body {
    display: -ms-flexbox;
    display: flex;
}

.container {
    max-width: 42em;
}

header {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: auto;
    background: #ffffff;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: auto;
}

.navbar-brand {
    font-weight: bold;
}

@keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.disappear {
    animation: disappear 0.35s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.appear {
    animation: appear 0.35s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.card {
    border-radius: 0;
}

.hidden {
    display: none !important;
}

#questionStatus {
    padding: 8px;
    background-color: #e5e5e5;
    border-top: 0;
}