html,
body {
    height: 100%;
    background: #f7f7f7;
}

body, #root {
    display: -ms-flexbox;
    display: flex;
}

#root {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 42em;
}

header {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: auto;
    background: #ffffff;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: auto;
}

.question > #title {
    font-weight: bold;
}

.question > code {
    display: block;
    margin-top: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    border-radius: 0;
}

.hidden {
    display: none !important;
}

#questionStatus {
    padding: 8px;
    background-color: #e5e5e5;
    border-top: 0;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.fade-leave {
    display: none;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
}